<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <input type="text" name="query" placeholder="egg" id="query" />

    <h1 id="name"></h1>
    <h2 id="t_fat"></h2>
    <h2 id="sodium"></h2>

    <button type="button" id="req_btn">Get nutritional info</button>

    <script src="../index.js"></script>
  </body>
</html>
